@font-face {
    font-family: 'N27 Regular';
    src: url('public/font/N27-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}




html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.offside-regular {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  


canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
   
}
#borderCanvas{
    z-index: 5;

}

#mainCanvas{
    z-index: 10;
    background-color: none;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}

button{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}
.gui  {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    width: fit-content;
}

#landing_text{
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    


}

#landing_text h1{
    margin:0 ;
    padding:0 ;
    position: fixed;
    top: 10vh;
    left:10vh;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
        font-family: "Arial", sans-serif;

  font-weight: 1000;
  font-style: normal;
      font-size: 10vw;
    pointer-events: none;
    font-stretch: condensed;
    letter-spacing: -20px;
    opacity: 1;

   

}

#landing_text{
     #title_1{
        color: rgb(0, 234, 255);
        z-index: 2;
    }

    #title_2{

     z-index: 1;
   -webkit-text-stroke: 10px black;
    }
}




#landing_text p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 255);
    
    opacity: 1;
    position: fixed;
    top: 30vh;
    left: 10vh;

    font-weight: 400;
    font-style: normal;
      text-align: left;
      z-index: 1000;
      font-size: 1.5vw;
      pointer-events: none;
  
      
    
}

.hide{
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


#keys{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: "SF Mono", monospace;
    font-weight: "light";
    font-size: 10px;
    background-color: rgb(114, 114, 114);
    display: none;
    

    border: 0.5px solid rgb(168, 168, 168);;
    width: 350px;
}

#keys_table {
    position: relative;
    top: -50px;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    color: rgb(168, 168, 168);
    padding-bottom: 20px;
    

    
}

#instrument{
    border-top: 1px solid rgb(168, 168, 168);
    padding-top: 20px;
    padding-left: 50px;
    position: relative;

    top: -50px;
    left: 0;
    display: flex;
    align-items: center;
    color: rgb(168, 168, 168)

}

#instrument select{
    background-color: rgb(114, 114, 114);
    color: rgb(168, 168, 168);
    border: 0.5px solid rgb(168, 168, 168);
    font-family: "SF Mono", monospace;
    font-weight: "light";
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

#instrument select:active{
    outline: none;
}


#keys_title{
    position: relative;
    top: 0;
    padding-left: 50px;
    font-family: "SF Mono", monospace;
    font-weight: "heavy";
    font-size: 90px;
    color: rgb(168, 168, 168);
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(168, 168, 168);

}

@font-face {
    font-family: 'SF Mono';
    src: url('./public/font/SF-Mono-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('./public/font/SF-Mono-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Mono';
    src: url('./public/font/SF-Mono-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('./public/font/SF-Mono-HeavyItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Mono';
    src: url('./public/font/SF-Mono-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('./public/font/SF-Mono-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Mono';
    src: url('./public/font/SF-Mono-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('./public/font/SF-Mono-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Mono';
    src: url('./public/font/SF-Mono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('./public/font/SF-Mono-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Mono';
    src: url('./public/font/SF-Mono-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('./public/font/SF-Mono-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

/* Example usage */
body {
    font-family: 'SF Mono', monospace;
}




